
:host {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;     
    display: block;
    margin: 0 auto;
    max-width: 61vw;
}


@media(max-width: 600px){
    :host{
        grid-template-columns: 1fr;
        max-width: unset;
    }

}