<main class="main-container">
    <div class="text-container">
        <h2>Discover new music</h2>
        <nav>
            <ul>
                <li><img src="../../../assets/microphone.svg"><h3>Charts</h3></li>
                <li><img src="../../../assets/albums.svg"><h3>Albums</h3></li>
                <li><img src="../../../assets/more.svg"><h3>More</h3></li>
            </ul>
        </nav>
        <p>By joining you can benefit by listening to the latest albums realased</p>
    </div>
    <img src="../../../assets/covers.jpg">
</main>


